<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="极简浏览器Cef.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <极简浏览器Cef.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>2.16.5.1</value>
            </setting>
            <setting name="Type" serializeAs="String">
                <value>Pre-release</value>
            </setting>
            <setting name="Attach" serializeAs="String">
                <value/>
            </setting>
        </极简浏览器Cef.Properties.Settings>
    </userSettings>
</configuration>
